# IDE
.vscode/
*/.vscode/
.idea/
*/.idea/

# Dependencies
php_app/vendor/
python_client/.venv/
python_client/venv/


# Logs
php_app/logs/
*.log

# Environment files
php_app/.env
php_app/.env.*
!php_app/.env.example
python_client/.env
python_client/.env.*
!python_client/.env.example

# Composer
php_app/composer.phar
php_app/composer.lock
php_app//vendor/

# Cache and temporary files
*.cache
*.tmp
php_app/database/logs.sqlite
python_client/.pytest_cache/
python_client/.mypy_cache/
python_client/.coverage
__pycache__/
*.egg-info/
*.egg


