<!DOCTYPE html>
<html>
<head>
    <title>SimpleLogAggregation</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight">Simple</span>LogAggregation</h1>
            </div>
            <nav>
                <ul>
                    <li class="current"><a href="/">Home</a></li>
                    <li><a href="/logs">Logs</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
